.text01 {
  color: #1c1c1c;
}
.text02 {
  color: #777777;
}
.liniyar {
  background: linear-gradient(to left, yellow, green);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mt {
  margin-top: 130px;
}
